.help-page {

  .breadcrumbs {
    a.breadcrumb-root {
      font-size: 24px;
      line-height: 1.3;
      text-decoration: none;
      &::after {
        display: inline-block;
        content: '\00bb';
        margin: 0 .6em;
        color: rgba(154, 163, 173, 0.8);
      }
    }
    .breadcrumb-page {
      display: inline-block;
      font-size: 21px;
      line-height: 1.3;
      color: #bec4cc;
    }
  }

  .help-faq-item-markdown-container {
    margin-right: 3rem;

    span.help-faq-item-markdown, p.help-faq-item-markdown {
      display: block;
      max-width: 650px;
      font-size: 1.2rem;
      font-weight: 200;
      color: #9aa3ad;
    }

    .help-faq-item-markdown {
      padding: 1.5rem 0;

      & * {
        user-select: text !important;
      }

      h1 {
        letter-spacing: 0.1px;
        font-size: 1.4rem;
        line-height: 1.3;
        color: #fff;
        font-weight: 300;
      }

      h2 {
        font-size: 1.85rem;
        line-height: 1.3;
        margin-bottom: 1.8rem;
        font-weight: 200;
        color: #fff;
        letter-spacing: 0.02rem;
        margin-top: 4.5rem;

        &:first-of-type {
          margin-top: 3rem;
        }
      }

      h3 {
        font-size: 1.5rem;
        line-height: 1.3;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
        font-weight: 200;
        color: #dedede;
        letter-spacing: 0.02rem;
      }

      h2 + h3 {
        margin-top: 2rem;
      }

      p {
        max-width: 650px;
        margin-top: 0;
        font-size: 1.2rem;
        font-weight: 200;
        color: #9aa3ad;
      }

      b, strong {
        color: #a2aab3;
      }
    }
  }

}
