header {
  .rc-steps {
      @include inline-flex;
      width: unset;
  }

  .rc-steps-item-custom {
    -ms-flex: unset;
    flex: unset;
    user-select: none;

    .rc-steps-item-icon {
      font-size: 1rem;
      background: initial;
      height: unset;
      width: unset;
      margin-right: 0.6rem;
      border-radius: 50%;
      background-color: $bg-grey;
      border: solid 1px $line-grey;
      @include transition(background-color 0.5s, border-color 0.5s);

      & > .rc-steps-icon {
        color: $text-grey;
        font-size: unset;
        top: unset;
        width: unset;
        height: unset;
        @include transition(color 0.5s);
      }
    }
    .rc-steps-item-icon-inner {
      border: 2px solid $bg-grey;
      background-color: $line-grey;
      width: 2em;
      height: 2em;
      line-height: calc(2em - 4px);
      text-align: center;
      border-radius: 50%;
      font-weight: normal;
      font-size: 1em;
    }
    .rc-steps-item-content {
      margin-top: 2px;
      // Step text
      .rc-steps-item-title {
        color: $text-grey;
        font-weight: 300;
        font-size: 1.3rem;
      }
      // Line separator
      .rc-steps-item-title:after {
        top: 50%;
        background-color: $text-grey;
      }
    }
    // Line separator width
    &:not(:last-child) .rc-steps-item-title {
      margin-right: 35px;
    }

    // Active step element styles
    &.rc-steps-item-process {
      .rc-steps-item-icon {
        background-color: $bg-grey;
        border-color: darken($white, 5%);
        & > .rc-steps-icon {
          color: $white;
        }
      }
      // Step text
      .rc-steps-item-title {
        color: $white;
      }
      // Step separator (line)
      .rc-steps-item-title:after {
        background-color: $white;
      }
    }

    // Finished step element styles
    &.rc-steps-item-finish {
      // Step separator (line)
      .rc-steps-item-title:after {
        background-color: $text-grey;
      }
    }

  }
}
