.dialog {
	position: fixed;
	z-index: 999999;
	top: 0px;
	right: -350px;
	background: $silver;
	overflow: scroll;
	width: 340px;
	width: 340px;
	height: 100%;
	box-shadow: -9px 0px 10px 0px rgba(0, 0, 0, 0.3);
	padding: 39px 44px;
	padding: 3em 3.3846153em;
	max-height: 100vh;
	max-width: 100vw;
	overflow: auto;
	
	// Visible class to blend in dialog
	transition: right 0.2s ease-out 0.2s;
	&.visible, .dialog-open & {
		transition: right 0.2s ease-in 0s;
		right: 0px;
	}
	
	// content container and wrapper 
	.dialog-content {
		display: block;
	}
	
	// Elements in Dialog
	form {
		display: inline;
		padding: 0;
		margin: 0;
	}
	.close-box {
		position: absolute;
		right: 1em;
		top: 1em;
	}
	.dialog-action-area {
		margin-top: 5em;
	}
	.typo-h1 {
		margin-bottom: 2em;
		display: block;
	}
	input[type="text"].number-input  {
		margin-bottom: 4em;
	}
	
// large Screen layout
	@include respond-to(xl) {
		width: 30%;
		right: -33%;
	}
// medium Screen layout
	@include respond-to(m) {
		width: 100%;
		height: auto;
		max-height: 100vh;
		overflow-y: scroll;
		top: auto;
		bottom: -100%;
		right: 0px;
		padding: 26px 26px;
		padding: 2em 2em;
		
		
		transition: bottom 0.2s ease-out 0.2s;
		&.visible, .dialog-open & {
			transition: bottom 0.2s ease-in 0s;
			bottom: 0px;
		}
		
		label {
			width: 50%;
			display: inline-block;
			float: left;
			margin-right: 1em;
			margin-top: .2em;
		}
		.field-container  {
			display: inline-block;
			margin-bottom: 0;
		}
		input[type="text"].number-input  {
			margin-bottom: 0em;
		}
		
		.typo-h1 {
			margin-bottom: 1em;
		}
		.dialog-action-area {
			text-align: left;
			margin-top: 1em;
		}
	}
	
	
}