.dialog {
	position: fixed;
	z-index: 1000;
	top: 0px;
	right: -350px;
	background: $silver;
	overflow: scroll;
	width: 340px;
	width: 340px;
	height: 100%;
	box-shadow: -9px 0px 10px 0px rgba(0, 0, 0, 0.3);
	padding: 39px 44px;
	padding: 3em 3.3846153em;
	max-height: 100vh;
	max-width: 100vw;
	overflow: auto;

	// Dialog slide in transition effect
	transition: right 0.2s ease-out;
	&.visible, .dialog-open & {
	  transition: right 0.2s ease-in;
	  right: 0px;
	}

	// Content container and wrapper
	.dialog-content {
		h2 {
			text-transform: capitalize;
		}
		p {
			font-size: 1.3rem;
			line-height: 1.3;
			&.main-text {
				font-size: 1.35rem;
				margin-top: 4.5rem;
				margin-bottom: 1rem;
			}
			&.indented-text {
				font-size: 1.1rem;
				line-height: 1.3;
				padding-left: 1.5rem;
				& + p.main-text {
					margin-top: 2rem;
				}
			}
		}
		a {
		  text-decoration: none;
			color: #0B1216;
		  border-bottom: 1px solid #676869;
		  padding-bottom: 2px;
		  position: relative;
		  top: -1px;
		  font-size: 0.85em;
			font-weight: 300;
		  display: inline-block;
		  line-height: 1;
			transition: color .2s ease-in, border-bottom-color .2s ease-in;
		  &:hover {
				color: #247F6D;
				border-bottom-color: #247F6D;
		  }
		}
	}

	// Elements in Dialog
	form {
		display: inline;
		padding: 0;
		margin: 0;
	}
	.close-box {
		position: absolute;
		right: 1em;
		top: 1em;
	}
	.typo-h1 {
		font-size: 2rem;
		margin-bottom: 1em;
		display: block;
	}
	input[type="text"].number-input  {
		margin-bottom: 4em;
	}

	// Large Screen layout
	@include respond-to(xl) {
		width: 25%;
		right: -33%;
	}

	// Medium Screen layout
	@include respond-to(m) {
		width: 100%;
		height: auto;
		max-height: 100vh;
		top: auto;
		bottom: -100%;
		right: 0px;
		padding: 26px 26px;
		padding: 2em 2em;

		// Dialog slide in transition effect
		transition: bottom 0.2s ease-out;
		&.visible, .dialog-open & {
			transition: bottom 0.2s ease-in;
			bottom: 0px;
		}
	}

	.info-section {
	  margin-top: 3rem;
	  margin-bottom: 3rem;

		.info-heading {
		  font-size: 1rem;
		  margin-top: 0.5rem;
		}
		.info-value {
		  font-size: 1.3rem;
		  font-weight: 700;
		  letter-spacing: 0.03rem;
		  margin-bottom: 1rem;
		  white-space: nowrap;
		}
		.info-value-smaller {
		  font-size: 0.9rem;
		  font-weight: 300;
		  margin-bottom: 1rem;
		}
		.transfer-cdp-id {
			font-size: 1.1rem;
			padding-bottom: 5px;
			margin-top: 1rem;
			margin-bottom: 1rem;
			border-bottom: 1px solid #979797;
		}
	}

	.fee-type-selector {
	  margin: 1rem 0 1.5rem;
	}

	.text-green {
	  color: #27AE60;
	}
	.text-yellow {
	  color: #E09C16;
	}
	.text-red {
	  color: #C0392B;
	}

	input[type="text"], input[type="number"] {
	  &:active, &:focus {
	    box-shadow: 0 0 0 1px $maker-green, inset 0 2px 2px 0 rgba(0,0,0,.2);
	  }
	  &.has-warning:active, &.has-warning:focus {
	    box-shadow: 0 0 0 1px #FBAE17, inset 0 2px 2px 0 rgba(0,0,0,.2);
	  }
	  &.has-error:active, &.has-error:focus {
	    box-shadow: 0 0 0 1px #CC3121, inset 0 2px 2px 0 rgba(0,0,0,.2);
	  }
	}

	button.text-btn {
		min-width: 47%;
		float: left;
		&.text-btn-primary {
			float: right;
		}
		&:active {
			// Looks good on white/secondary button but not as good on primary button
			padding: 13px 12px 11px 12px;
			box-shadow: inset 0px 1px 0px 0px rgba(128, 128, 128, 0.4), 0px 0px 1px 0px rgba(152, 152, 152, 0.3) !important;
		}
	}

	// Address value input field
	input.address-input {
		width: 100%;
	}
	// Number value input field
	input.number-input {
		width: 77%;
		& + .unit {
			float: none;
			width: 23%;
		}
	}

	// Radio select options
	input[type="radio"] {
		visibility: hidden;
	}
	label span {
		font-size: 0.7rem;
	}

	// Tooltip icon custom colors
	.tooltip-hint {
		path {
			fill: #2B3943;
		}
		&:hover path {
			fill: lighten(#2B3943, 15%);
		}
	}

	.input-section {
		max-width: 300px;
		.peth-equiv {
			text-align: right;
			font-size: 0.9rem;
			margin-top: 0.7rem;
		}
		.set-max {
			text-align: right;
			margin-top: 0.4rem;
			a {
				padding-bottom: 1px;
				position: unset;
				font-size: 0.9rem;
			}
		}
	}

}
