.cup-history-items {
  overflow: hidden;
  max-height: 0;
  min-height: 435px;
  transition: max-height 0.15s ease-out;

  &.expanded {
    max-height: 10000px;
    transition: max-height 0.25s ease-in;
  }
}

.history-cointainer {
  clear: both;
  margin-top: 35px;
  position: relative;
  .history-icon {
    float: left;
    height: 100px;
    width: 80px;
    img {
      position: absolute;
      display: block;
      width: auto;
      height: 48px;
    }
    .vertical-line {
      position: relative;
      width: 1px;
      height: calc(100% - 65px);
      left: 23px;
      top: 57px;
      border-left: 1px solid #313d47;
    }
  }
  .history-details {
    position: relative;
    top: 6px;
    @include respond-to(xl) {
      top: 2px;
    }
    line-height: 1.5;
  }
  .history-date {
    font-size: 0.85em;
  }
  .history-tx-links {
    margin-left: 10px;
    position: relative;
    top: -1px;
    .pipe-separator {
      font-size: 0.9em;
      padding: 0 1px;
      color: rgba(154, 163, 173, 0.65);
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid rgba(154, 163, 173, 0.65);
      padding-bottom: 2px;
      position: relative;
      font-size: 0.85em;
      display: inline-block;
      line-height: 1;
    }
  }
}
.cup-history-items.hide-expander .history-cointainer:last-child .vertical-line {
  display: none;
}

.history-expand {
  clear: both;
  &.hide-expander {
    display: none;
  }
  .history-icon {
    float: left;
    height: 100px;
    width: 80px;
    svg {
      position: absolute;
      display: block;
      width: auto;
      height: 32px;
      margin-left: 7px;
      z-index: 1;
    }
  }
  .history-details {
    padding-top: 5px;
    @include respond-to(xl) {
      padding-top: 2px;
    }
  }
}
