.__react_component_tooltip {
  background-color: #ffffff;
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.4);
  opacity: 1 !important;
}

svg.tooltip-hint {
  cursor: pointer;
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 0.4rem;
  position: relative;
  top: 0.15rem;
  path {
    fill: $text-grey;
  }
  &:hover path {
    fill: $silver;
  }
}
