// Dropdown menu
.dropdown {
  position: relative;
  cursor: pointer;
  user-select: none;

  // When dropdown-button becomes an SVG, use this to change 'fill' style on hover
  // .dropdown-button {
  //   :hover > & {
  //   }
  // }

  // Arrow
  svg.dropdown-arrow {
    display: none;
    position: absolute;
    right: -3px;
    bottom: -22px;
  }
  // Show arrow on hover
  &:hover svg.dropdown-arrow {
    display: block;
  }
  // Dropdown content (hidden by default)
  .dropdown-content {
    display: none;
    border-radius: 2px;
    right: -19px;
    // This padding allows the element to be up higher so that the mouse hover remains
    padding-top: 21px;
    top: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.50);
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    .dropdown-item-icon {
      float: left;
      width: 18px;
      height: 18px;
    }
    .dropdown-item:first-child {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    .dropdown-item {
      color: black;
      font-size: 1.05rem;
      padding: 0.8rem 0 0.8rem 1.1rem;
      &:first-child {
        padding-top: 0.9rem;
      }
      &:last-child {
        padding-bottom: 0.9rem;
      }
      text-decoration: none;
      display: block;
      font-weight: 400;
      white-space: nowrap;
      &.has-icon {
        padding-right: 18px;
      }
      background-color: #d8d8d8;
      &:hover {
        background-color: #e1e1e1;
      }
      span {
        padding-right: 1.5rem;
        padding-left: 1.1rem;
      }
    }
  }
  // Show dropdown on hover
  &:hover .dropdown-content {
    display: block;
  }
}

// Implementation-specific styles
.dropdown {
  float: right;
  width: 17px;
  height: 17px;

  img.dropdown-button {
    width: 17px;
    height: 17px;
  }
  .dropdown-footer {
    padding: 0;
    background-color: transparent;
    a {
      width: 50%;
      display: inline-block;
      background-color: #2D3337;
      &:hover {
        background-color: #4F565B;
      }
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 200;
      text-decoration: none;
      color: #fff;
    }
  }
}
