svg.expand-section-btn {
  float: right;
  cursor: pointer;
  cursor: pointer;
  width: 1.7rem;
  height: 1.7rem;
  path {
    fill: $text-grey;
  }
  &:hover path {
    fill: $silver;
  }
}

.wizard-automated-transactions {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s ease-out;

  &.expanded {
    max-height: 1000px;
    transition: max-height 0.25s ease-in;
  }

  .step-cointainer {
    clear: both;
    &:first-child {
      padding-top: 2.5rem;
    }
    &:last-child {
      padding-bottom: 3.5rem;
    }

    .step-icon {
      float: left;
      height: 5.6rem;
      width: 4.5rem;

      .vertical-line {
        position: relative;
        width: 1px;
        height: calc(100% - 3.8rem);
        left: 1rem;
        top: 0.85rem;
        border-left: 1px solid $line-grey;
      }
    }

    &:last-child .step-icon {
      height: 1px;
      .vertical-line {
        display: none;
      }
    }

    .step-message {
      float: left;
      line-height: 1.5;
      margin-top: 3px;
    }

    .steps-item {
      display: inline-block;
      font-size: 1rem;
      margin-right: 0.6rem;
      border-radius: 50%;
      background-color: $bg-grey;
      border: solid 1px darken($white, 5%);

      .steps-item-inner {
        color: darken($white, 5%);
        border: 2px solid $bg-grey;
        background-color: $line-grey;
        width: 2em;
        height: 2em;
        line-height: calc(2em - 4px);
        text-align: center;
        border-radius: 50%;
        font-weight: normal;
        font-size: 1em;
      }
    }

  }
}
