.inline-notification {
  clear: both;
  background-color: $white-two;
  color: #26323a;
  padding: 1rem 1.2rem !important;
  margin: 2rem 0 1rem;
  border-radius: 2px;
  .caption {
    position: relative;
    top: 0.1rem;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
  .message {
    position: relative;
    font-size: 1.1rem;
    @include respond-to(xl) {
      font-size: 1rem;
    }
    font-weight: 200;
    &.has-button {
      padding-right: 12rem;
    }
    &.no-caption {
      margin-left: 3rem;
    }
  }
  button {
    min-width: 10rem;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }
  // Icon
  svg {
    float: left;
    width: auto;
    height: 1.6rem;
    @include respond-to(xl) {
      height: 1.5rem;
    }
    top: 0.3rem;
    position: relative;
    margin-right: 1rem;
    path {
      fill: #26323a;
    }
  }
  &.is-warning {
    svg path {
      fill: $white;
    }
    & {
      background-color: $error-red;
      color: $white;
    }
  }
}
