
.right-column {
	z-index: 0;
	background-color: $bg-darkgrey;
	width: 340px;
	min-height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	transition: right 0.3s ease-in;
	.is-connected & {
		border-left: 1px solid #414040;
	}

	@include respond-to(m) {
		width: 100%;
		position: relative;
		display: inline-block;
	}
	// large Screen layout
	@include respond-to(xl) {
		width: 30%;
	}

	// headlines in right column
	h1, h2, h3, h4, h5, h6 {
		display: block;
		margin-top: 0;
	}

	.heading {
		position: relative;
	}

	.no-account section {
		margin-bottom: 1rem;
		text-align: center;
		.helper-text {
			font-size: 0.95rem;
			margin: 2rem 0 2.1rem;
		}
		a {
			user-select: none;
			font-size: 1.1rem;
			color: #fff;
			text-align: center;
			display: block;
			text-decoration: none;
			letter-spacing: 0.02rem;
			border: 1px solid #c0c0c0;
			padding: 0.8rem 0;
			width: 60%;
			margin: 3px auto;
			&:hover {
				background-color: #2d404c;
			}
		}
	}

	// boxes in right column
	.right-column-content {
		padding: 0;
		h2 {
			&.wallet {
				text-align: left;
				padding-left: 25px;
				padding-right: 25px;
				margin-bottom: 0;
				border-bottom: none;
			}
			user-select: none;
			font-size: 1.3rem;
			background-color: #202930;
			padding: 1.5rem 0;
			border-bottom: 1px solid #595f62;
			color: #fff;
			text-align: center;
			letter-spacing: 0.02rem;
		}

		@include respond-to(m) {
			display: inline-block;
			width: 100%;
		}

		h3 {
			padding-top: 1em;
		}
	}

	.identicon {
		margin-right: 14px;
		float: left;
		position: relative;
		top: -2px;
		@include respond-to(xl) {
			top: 2px;
		}
	}

	// Wallet
	ul.wallet {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			font-size: 14px;
			margin-bottom: 4px;
		}
	}
	.wallet-id {
		text-align: right;
		float: right;
		margin-right: 1rem;
		a {
			color: $text-grey;
			text-decoration: none;
		}
	}

	// footer
	.footer {
		text-align: center;
		color: #858f99;
		font-size: 1.1rem;
		font-weight: 200;
		letter-spacing: 0.01rem;
		margin-top: 1rem;
		span.separator {
			padding: 0 0.5rem;
			font-weight: inherit;
			color: inherit;
		}
		@include respond-to(m) {
			margin-top: 2em;
		}
	}



	// medium Screen layout
	@include respond-to(m) {
		.dialog-open & {
			padding-bottom: 300px;
		}
	}
}

.right-column {

	// Ledger connection failed bullet points
	ol {
		margin: 2.5rem 2rem 3rem 1rem;
		li {
			margin-top: 1rem;
			margin-bottom: 2.5rem;
			padding-left: 0.3rem;
		}
	}

	// Top right balances table
	table {
		width: 100%;
		border-spacing: 0;
		border-bottom: 1px solid #595f62;
		thead {
			th {
				text-align: left;
				text-transform: uppercase;
				font-size: 0.8rem;
				font-weight: 300;
				padding: 0.6rem 1.4rem;
			}
		}
		tbody {
			tr:nth-child(2n+1) {
				background-color: #202930;
			}
			tr {
				td {
					font-size: 1.2rem;
					font-weight: 300;
					color: #fff;
					letter-spacing: 0.03rem;
					padding: 1.2rem 1.4rem;
				}
				td.send-col {
					img {
						position: relative;
						left: 3px;
						top: 3px;
					}
				}
			}
		}
	}

	.info-section {
		padding: 1rem 3rem;
		border-bottom: 0;
		h2 {
			font-size: 1.8rem;
			font-weight: 200;
			background-color: unset;
			padding: 0;
			border: none;
			color: #9AA3AD;
			text-align: left;
			letter-spacing: 0.02rem;
			clear: both;
			margin: 1rem 0;
		}
		h3 {
			clear: both;
			padding: 0;
		}
		.value {
			font-size: 1.4rem;
			font-weight: 600;
		}
		.price-info {
			h3 {
				float: left;
			}
			.value {
				float: right;
			}
			h3, .value {
				line-height: 3.5rem;
			}
		}
		.price-info {
			.value {
				display: block;
			}
		}
		.line {
			display: inline-flex;
			background-color: #444C52;
			height: 1px;
			width: 100%;
			margin: 2rem 0 1.4rem;
			clear: both;
		}
		.cdp-info {
			h2 {
				margin: 1rem 0 1.5rem;
			}
			.value {
				margin-bottom: 1rem;
			}
		}
	}

	// Send token
	.send-token {
		section {
			width: 80%;
			margin: 0 auto;

			label {
				font-size: 1rem;
				letter-spacing: 0.04rem;
				font-weight: 200;
				user-select: none;
			}

			.below-input-info {
				color: #fff;
				font-weight: 200;
				font-size: 0.9rem;
			}

			button.sidebar-btn {
				min-width: 105px;
			}

			input[type="text"], input[type="number"] {
				background-color: #2b3943;
				box-shadow: none;
				color: #e4e4e4;
				border: 1px solid #979797;
				height: 3.1rem;

				&.has-error {
					border-color: #cc3121 !important;
				}
				padding: 0.8rem;
				font-size: 1.3rem;
				font-weight: 300;
				width: 100%;
				margin-top: 0.5rem;

				&:active, &:focus {
					color: #fff;
					border-color: #1abc9c;
					box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
				}
			}
		}

		div.back-arrow {
			position: absolute;
			width: 50px;
			height: 100%;
			cursor: pointer;

			svg {
				float: left;
				position: absolute;
				left: 20px;
				top: calc(50% - 9px);

				path {
					fill: #d8d8d8;
				}
			}

			&:hover svg path {
				fill: #fff;
			}
		}
	}

}
