// LABELS

label, .form-label {
	margin-bottom: 0.5em;
	display: block;

	input + & {
		margin-top: 2em;
	}
}

// FIELDSET

fieldset {
	border: 0;
	padding-left: 0;
	padding-right: 0;
}

// TEXT/NUMBER INPUTS

input[type="text"], input[type="number"] {
	border: 0;
	outline: 0;
	padding: 0 .5em;
	@include interactive("pushInAndCrush");
	@include fontweight(bold);
	line-height: 2.5em;
	height: 2.5em;
}

input[type="text"].number-input, input[type="number"].number-input {
	float: left;
	text-align: right;
	border-radius: 2px 0px 0px 2px;
	position: relative;
	z-index: 1;
	& + .unit {
		color: lighten($black, 5%);
		position: relative;
		z-index: 0;
		display: inline-block;
		float: left;
		height: 2.5em;
		line-height: 2.5em;
		vertical-align: baseline;
		padding: 0 1em;
		background-color: $white-two;
		min-width: 4em;
		text-align: center;
		border-radius: 0 2px 2px 0;
	}
}


// CHECKBOXES

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked),
input[type='radio']:checked,
input[type='radio']:not(:checked) {
	background: transparent;
	position: relative;
	visibility: hidden;
	margin: 0;
	padding: 0;
}

input[type='checkbox']+label,
input[type='radio']+label {
	cursor: pointer;
}

input[type="radio"] {
	// Remove standard styles
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	font-size: 1em;

	// Graceful degradation for IE8
	width: auto;
	float: left;
	margin-right: .75em;

	// Hide native radio button
	background: transparent;
	border: none;
	display: inline-block;
	line-height: inherit;
	vertical-align: baseline;

	// Add custom styles
	&:checked + label::before,
	&:not(:checked) + label::before {
		content: ' ';
		display: inline-block;
		position: relative;
		top: 5px;
		width: 15px;
		height: 15px;
		@include respond-to(xl) {
			width: 16px;
			height: 16px;
			margin-right: 7px;
		}
		border: 2px solid rgba(49, 61, 71, 0.8);
		margin-right: 6px;
		border-radius: 50%;
		transition-property: border-color, background;
		transition-duration: 0.2s;
		transition-timing-function: ease-in;
	}
	& + label:hover::before {
		border-color: rgba(49, 61, 71, .8);
		background: rgba(18, 187, 155, 0.3);
		box-shadow: inset 0px 0px 0px 2px #ced0d2;
	}
	&:checked + label::before {
		border-color: rgba(49, 61, 71, .8);
		background: #12BB9B;
		box-shadow: inset 0px 0px 0px 2px #ced0d2;
	}

	// Layout for labels
	& + label {
		display: inline-block;
		margin:0;
		user-select: none;
	}
	& + label + & + label {
		margin-left: 3em;
	}
}

// Custom checkbox
label.checkbox-container {
  // Customize the label container
  display: block;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // Hide the browser's default checkbox
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  // Create a custom checkbox
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    background-color: #eee;
  }
  // On mouse-over, darken bg
  &:hover input ~ .checkmark {
    background-color: darken(#eee, 3%);
  }
  // When the checkbox is checked
  input:checked ~ .checkmark {
    background-color: #1BC4A6;
  }
	// On mouse-over, lighten bg
  &:hover input:checked ~ .checkmark {
		background-color: lighten(#1BC4A6, 3%);
  }
  // Create the checkmark/indicator (hidden when not checked)
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  // Show the checkmark when checked
  input:checked ~ .checkmark:after {
    display: block;
  }
  // Style the checkmark/indicator
  .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 9px;
    border: solid #0b5447;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
