// Interation Styles

@mixin interactive($style) {

	@if $style == "liftAndPushIn" {
		box-shadow: 0px 0px 0px 0px transparent;
		transition-duration: .18s;
		transition-property: box-shadow, background-color, opacity, border, color, margin-left, margin-right, padding-left, padding-right, width, min-width, max-width;
		transition-timing-function: ease-out;
		z-index: 0;

		&:hover {
			z-index: 1;
			box-shadow: 0px 1px 6px 0px rgba(0,0,0,.9);
		}
		&:active, &:focus {
			transition-duration: 0.18s;
			box-shadow: 0 1px 2px 0px rgba(0,0,0,0.9);
		}
		&:focus, &:hover, &:active {
			outline: 0;
		}

		.bright-style &, &.bright-style {
			&:hover {
				box-shadow: 0px 1px 6px 0px rgba(0,0,0,.65);
			}
			&:active, &:focus {
				box-shadow: 0 1px 2px 0px rgba(0,0,0,0.65);
			}
		}
	}
	@if $style == "pushInAndCrush" {
		box-shadow: 0px 0px 0px 0px transparent, inset 0px 0px 0px 0px transparent;
		transition-duration: .18s;
		transition-property: box-shadow, text-shadow, transform, border;
		transition-timing-function: ease-out;
		border: 0;
		outline: 0;

		&:hover {
			box-shadow: 0px 0px 0px 0px transparent, inset 0px 1px 2px 0px rgba(0,0,0,.9);
		}
		&:active, &:focus {
			transition-duration: 0.18s;
			box-shadow: 0px 0px 0px 1px $maker-green, inset 0px 2px 4px 0px rgba(0,0,0,.9);
		}
		&:focus, &:hover, &:active {
			outline: 0;
		}

		.bright-style &, &.bright-style {
			box-shadow: 0px 0px 0px 0px transparent, inset 0px 0px 0px 0px transparent;

			&:hover {
				box-shadow: 0px 0px 0px 0px transparent, inset 0px 1px 2px 0px rgba(0,0,0,.65);
			}
			&:active, &:focus {
				box-shadow: 0px 0px 0px 1px $maker-green, inset 0px 2px 4px 0px rgba(0,0,0,.65);
			}
		}
	}
	@if $style == "enlightAndSrink" {
		//box-shadow: 0px 0px 0px 0px rgba(0,0,0,.0);
		background-color: rgba(255,255,255,0);
		transition-duration: .18s;
		transition-property: background-color, transform, box-shadow;
		transition-timing-function: ease-out;

		&:hover {
			box-shadow: none;
			background-color: rgba(255,255,255,0.15);
		}
		&:active {
			transform: scale(0.15);
			background-color: rgba(255,255,255,0.95);
		}
		&:focus, &:hover, &:active {
			outline: 0;
		}


		.bright-style &, &.bright-style {
			background-color: rgba(0,0,0,0);
			&:hover {
				background-color: rgba(0,0,0,0.10);
				box-shadow: none;
			}
			&:active {
				background-color: rgba(0,0,0,0.95);
			}
		}

	}
}
