.yesno {
  display: block;
  margin: auto;
  margin-top: 25px;
  overflow: hidden;
  width: 110px;
}

.yesno button {
  display: block;
  float: right;
  margin-right: 5px;
  width: 45px;
}

.yesno button:first-child {
  float: left;
}

p.error {
  clear: left;
  color: red;
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
}

.printedNumber {
  cursor: pointer;
}

#termsWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

#termsWrapper h2 {
  display: block;
  flex: 0 0 auto;
  height: 40px;
  font-size: 30px;
  padding-left: 14px;
}

#termsWrapper p {
  max-width: 100%;
}

#termsWrapper ul {
  list-style-type: disc;
  padding-left: 25px;
}

@media (max-width: 900px) {
  #termsWrapper h2 {
    font-size: 25px;
    height: 30px;
  }
}

@media (max-width: 750px) {
  #termsWrapper h2 {
    font-size: 20px;
    height: 25px;
  }
}

@media (max-width: 605px) {
  #termsWrapper h2 {
    height: 40px;
  }
}

#termsWrapper .content {
  flex: 1 1 auto;
  padding-bottom: 0px;
  padding-top: 0px;
  word-break: break-word;
  overflow-y: scroll;
  width: 100%;
}

#termsWrapper .content table {
  word-break: initial;
  overflow-x: auto;
}

#termsWrapper .content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
#termsWrapper .content::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#termsWrapper form {
  display: block;
  flex: 0 0 auto;
  height: 50px;
  overflow: hidden;
}

#termsWrapper input[type=submit] {
  display: block;
  font-size: 18px;
  height: 34px;
  margin: auto;
  margin-top: 8px;
  width: 100px;
}

#termsWrapper input[type=submit]:disabled {
  opacity: 0.3;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.allowance div {
  clear: left;
}

.allowance span {
  display: block;
  float: left;
}

.allowance > div > span:first-child {
  clear: left;
  width: 40px;
}

.allowance > div > span:nth-child(2) {
  width: 80px;
}

.onoffswitch {
  position: relative; width: 100px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 12px;
  margin-top: 0px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
  font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "Approved";
  padding-left: 10px;
  background-color: #27AE60; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "Denied";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 18px; margin: -1px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 80px;
  border: 2px solid #999999; border-radius: 12px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch.mode-box {
  width: 125px;
}

.onoffswitch.mode-box .onoffswitch-switch {
  right: 105px;
  top: -4px;
  bottom: -4px;
}

.onoffswitch.mode-box .onoffswitch-inner:before {
  content: "Proxy Account";
}
.onoffswitch.mode-box .onoffswitch-inner:after {
  content: "Main Account";
}

.react-stockchart {
  float: left;
}
