#root > .modal-open {
  @include filter(blur, 3px);
}
.modal {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.25);
  z-index: 997;
  .modal-inner {
    position: relative;
    width: 29.2rem;
    background: #202930;
    z-index: 998;
    margin: 175px auto 0;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.50);
    border-radius: 3px;

    h2 {
      color: #fff;
      text-align: center;
      padding-top: 2.4rem;
      letter-spacing: 0.02rem;
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1.4rem;
      line-height: 1;
      color: #fff;
      text-align: center;
      letter-spacing: 0.02rem;
      margin: 1rem 0;
    }
    p {
      color: #A3A3A3;
      font-size: 0.9rem;
      line-height: 1.75;
      text-align: center;
      width: 65%;
      margin: 0 auto 2.3rem;
      user-select: none;
    }
  }
}

.modal.create-cdp .modal-inner {
  width: 54rem;
  max-width: 90%;
  margin-top: 10vh;
  h2 {
    color: #fff;
    text-align: center;
    padding: 0;
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
    font-weight: 200;
    padding: 1.5rem 0;
    border-bottom: 1px solid #313D47;
  }
  img.main {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    width: 488px;
    height: 176px;
    max-width: 100%;
  }
  p {
    color: #879099;
    font-size: 1.1rem;
    line-height: 1.4;
    letter-spacing: 0.02rem;
    margin: 2rem auto 1.5rem;
    font-weight: 200;
  }
  ul {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.02rem;
    text-align: center;
    margin: 0;
    padding-bottom: 3.7rem;
    li {
      display: inline-block;
      margin: 1rem 3rem 0;
      @include respond-to('s+') {
        margin: 1rem 0.5rem 0;
        min-width: 5rem;
      }
      min-width: 10rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      div.icon {
        height: 30px;
        margin-bottom: 0.7rem;
        img {
          width: auto;
          height: 24px;
        }
      }
    }
  }
}
