// Custom landing slider styles
.landing {
  padding: 0 !important;

  .landing-body {
    padding: 1.7em 0 0 !important;
    border-right: 1px solid #414040;

    & > h1 {
      color: $white;
      line-height: 1.3;
      letter-spacing: 0.1px;
      text-align: center;
      font-weight: 200;
      font-size: 2.75rem;
      margin: 3rem 0 1.5rem;
    }

    // Below slider on landing page (What do I need to get started?)
    .getting-started {
      @include respond-to(s) {
        display: none;
      }
      padding-top: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      background-color: #2c3943;
      h1 {
        text-align: center;
        letter-spacing: 0.1px;
        font-size: 2.5rem;
        margin: 2rem 0 4rem;
        line-height: 1.2;
        font-weight: 700;
        color: #fff;
      }
      p {
        margin: 0 auto;
        max-width: unset;
        font-size: 1.5rem;
        color: #fff;
        letter-spacing: unset;
        line-height: 1.7;
        font-weight: 200;
        max-width: 650px;
        width: 100%;
        display: block;
        text-align: justify;
        a.faq {
          margin: 2rem auto;
          display: block;
        }
      }
      ul {
        display: block;
        text-align: center;
        margin: 0;
        padding-bottom: 5.5rem;
        li {
          display: inline-block;
          font-size: 1.3rem;
          font-weight: 300;
          margin: 6.5rem 4rem 0;
          @include respond-to(m) {
            font-size: 1.1rem;
            margin-right: 4%;
            margin-left: 4%;
          }
          letter-spacing: 0.02rem;
          text-align: center;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
          img {
            margin-bottom: 2.5rem;
            width: 75px;
            height: 75px;
            @include respond-to(m) {
              margin-bottom: 1rem;
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }

    .landing-slider {
      .slick-arrow {
        transition: opacity 0.3s;
      }
      .slick-slide[data-index="4"] .info-slide p {
        font-size: 1.3rem;
      }
      .info-slide {
        display: block;
        margin: 8rem auto;
        width: 75%;
        h1 {
          font-size: 1.35rem;
          font-weight: 600;
          color: #dedede;
          letter-spacing: 0.02rem;
          line-height: 1;
        }
        h2 {
          font-size: 2.5rem;
          &.sm {
            font-size: 2.4rem;
          }
          font-weight: 700;
          color: #dedede;
          letter-spacing: 0.02rem;
          line-height: 1.3;
          margin: 3.2rem 0 3.5rem;
        }
        p {
          max-width: unset;
          font-size: 1.5rem;
          color: #fff;
          letter-spacing: unset;
          line-height: 2;
          font-weight: 200;
          margin: 2rem 0;
          display: block;
          text-align: justify;
        }
        span.line {
          display: inline-block;
          height: 1px;
          width: 90px;
          background-color: #50e3c2;
          position: relative;
          top: -0.4rem;
          margin: 0 1rem;
        }
      }
      .first-slide {
        img.preview {
          display: block;
          max-width: 900px;
          width: 75%;
          @include respond-to(s) {
            width: 92%;
          }
          height: auto;
          margin: 2rem auto 6rem;
          @include respond-to(s) {
            margin-top: 4rem;
            margin-bottom: 4rem;
          }
        }
        p {
          font-size: 1.5rem;
          color: #9AA3AD;
          letter-spacing: unset;
          line-height: 1.4;
          font-weight: 200;
          margin: 0.5rem 0;
          @include respond-to(s) {
            margin-top: 2rem;
          }
          max-width: 650px;
          width: 100%;
          display: inline-block;
        }
      }
      svg.slick-arrow {
        &.slick-disabled {
          display: none !important;
        }
        height: 2.5rem;
        width: auto;
        top: 45%;
        path {
          fill: #ddd;
        }
        &:hover path {
          fill: #fff;
        }
      }
    }
  }

  button.connect-wallet-mobile {
    min-width: 200px;
    min-height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #1ABC9C;
    color: #000;
    text-transform: uppercase;
    padding: 0.85rem 1rem;
    letter-spacing: 0.02rem;
    line-height: 1;
    border-radius: 2px;
    font-family: 'Cairo', 'Arial', sans-serif;
  }
}

  .landing-footer {
    position: relative;
    background-color: #152128;
    text-align: center;
    padding-bottom: 5rem;
    padding-right: 340px;
    @include respond-to(m) {
      padding-right: 0;
    }
    .logo-block {
      position: relative;
      padding-top: 4.7rem;
      .line {
        height: 1px;
        left: 55px;
        right: 55px;
        bottom: 0.6rem;
        border-top: 1px solid #313d47;
        position: absolute;
      }
      .logo-center {
        display: inline-block;
        padding: 0 30px 0;
        background-color: #152128;
        margin: 0 auto;
        text-align: center;
        font-size: 0.9rem;
        position: relative;
        white-space: nowrap;
        img {
          display: block;
          margin: 0 auto 1rem;
          width: 36px;
          height: 26px;
        }
      }
    }
    p {
      max-width: 25rem;
      margin: 0 auto;
      font-weight: 200;
      font-size: 1rem;
      text-align: center;
      margin-top: 2.3rem;
    }
    ul {
      display: inline-block;
      margin-top: 4rem;
      li {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 300;
        margin: 0px 5rem;
        @include respond-to(s) {
          margin: 0px 2rem;
        }
        letter-spacing: 0.02rem;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
.is-not-connected .wrapper {
  padding-left: 0 !important;
}
