// Helper classes

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.no-select {
  user-select: none !important;
}

.no-margin {
  margin: 0 !important;
}

.clear-left {
  clear: left !important;
}

.clearfix {
  clear: both !important;
}

.no-wrap {
  white-space: nowrap !important;
}
